@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  font-family: "Nanum Gothic", sans-serif;
}


body {
  margin: 0;
  background: url("/asdf_img/background.jpg");

  background-size: cover;

  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  scrollbar-face-color:#00c1f0;
  scrollbar-shadow-color:#00c1f0;

      scrollbar-highlight-color:#00c1f0;
      scrollbar-3dlight-color:#00c1f0;
      scrollbar-darkshadow-color:#00c1f0;
      scrollbar-base-color:#00c1f0;
      scrollbar-arrow-color:#ffffff;
      scrollbar-track-color:#ffffff;
}


.asdf {
  background-color: rgba(50, 50, 50, .5);
  width: 1400px;
  height: 300px;
  margin: 0 auto;
}

.asd {
  margin-top: 50px;
}


#topmenu {
  height:30px;
  max-width:1000 px;
  margin-left: 150px;
  margin-right: 150px;
}

#topmenu ul li {
  list-style:none;
  color:white;
  background-color: #2d2d2d;
  float:left;
  line-height:30px;
  vertical-align: middle;
  text-align: center;
}

#topmenu .menulink {
  text-decoration: none;
  color: white;
  display: block;
  width: 150px;
  font-size: 12px;
  font-weight:bold;
  font-family: "Trebuchet MS", Dotum, Arial;
}

#topmenu .menulink:hover {
  color:yellow;
  background-color: #6d6d6d;
}

#re_u {
    width: 300px;
    height: 300px;
    margin-left: 450px;
    background-color: pink;
}
#re_d {
    width: 300px;
    height: 300px;
    margin-left: 450px;
    margin-top: 10px;
    background-color: yellow;

}
